@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "BeroldRegular";
    src: url("/fonts/BeroldRegular.woff") format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "BeroldStylistic";
    src: url("/fonts/BeroldStylistic.woff") format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

}

.body {
  background: rgb(248, 247, 251);
  background: linear-gradient(0deg, rgba(248, 247, 251, 1) 0%, rgba(234, 231, 243, 1) 100%);
}